{% extends 'admin/base.html.twig' %}

{% block title %}Invites - Our Wedding{% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-hover table-sortable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Type</th>
                <th>Status</th>
                <th>Invited</th>
                <th>Submitted</th>
                <th>Last Authenticated</th>
            </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr>
                <td>{{ invite.code }}</td>
                <td>{{ invite.type|title }}</td>
                <td>{{ invite.status|title }}</td>
                <td>{{ invite.invitedGuests|join(', ') }}</td>
                <td>{{ invite.submittedAt }}</td>
                <td>{{ invite.lastAuthenticatedAt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
